main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-top: 25px;
}

main section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
}

main section h3 {
  width: 30%;
}

main section #movies-filter-container {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

main section #movies-filter-container label:nth-child(3) {
  margin-left: 30px;
}

main section #movies-filter-container select {
  margin-left: 7px;
}

main section #movies-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 25px;
}

main section #movies-container div {
  width: calc(100% / 3 - 15px);
  padding: 10px;
  background-color: rgb(232, 232, 232);
  border: 1px solid rgb(232, 232, 232);
}

main section #movies-container div:hover {
  border-color: rgb(128, 128, 128);
}

#form-div-search-movies {
  margin-top: 20px;
}

form #input {
  border: none;
  outline: transparent;
  padding: 2px 13px;
  font-size: 13px;
  font-weight: 500;
  background-color: transparent;
}

::placeholder {
  color: rgb(99, 97, 97);
  opacity: 1;
}

form #search-button {
  border: none;
  background-color: transparent;
  font-size: 17px;
  color: #514f4f;
}

form #search-button:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
}

form #search-button:focus {
  outline: none;
  color: black;
}

form {
  padding: 5px 10px;
  border-radius: 15px;
  border: 1.5px solid black;
  width: 280px;
}

footer {
  width: 100%;
  text-align: center;
  bottom: 30%;
}

footer span {
  cursor: pointer;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  margin: 3px;
  padding: 5px 10px;
  border-radius: 5px;
}

.hide {
  display: none;
}

@media screen and (min-width: 768px) {
  main section #movies-container div {
    width: calc(100% / 5 - 15px);
  }
}
@media screen and (min-width: 1024px) {
  main section #movies-container div {
    width: calc(100% / 6 - 15px);
  }
}
@media screen and (min-width: 1400px) {
  main section #movies-container div {
    width: calc(100% / 7 - 15px);
  }
}
